[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[[source]]
url = "https://opentuna.cn/pypi/web/simple"
verify_ssl = true
name = "opentuna"

[packages]

[dev-packages]

[requires]
python_version = "3.8"
